In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
'key2' : ['one', 'two', 'one', 'two', 'one'],
'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})

In [5]:
df

  key1 key2     data1     data2
0    a  one  0.645297 -0.529652
1    a  two -0.729454 -0.325507
2    b  one -0.346692  0.057767
3    b  two -2.206864 -0.763618
4    a  one  0.199271 -0.453305

In [6]:
grouped = df['data1'].groupby(df['key1'])

In [7]:
grouped

In [8]:
grouped.mean()

key1
a    0.038371
b   -1.276778
Name: data1, dtype: float64

# Mais de um indice

In [9]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [10]:
means

key1  key2
a     one     0.422284
      two    -0.729454
b     one    -0.346692
      two    -2.206864
Name: data1, dtype: float64

In [11]:
df['data1'].groupby([df['key1'], df['key2']]).aggregate(np.std)

key1  key2
a     one     0.315388
      two          NaN
b     one          NaN
      two          NaN
Name: data1, dtype: float64

# Pivot

In [12]:
# importing pandas as pd
import pandas as pd
  
# creating a dataframe
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
      'B': ['Masters', 'Graduate', 'Graduate'],
      'C': [27, 23, 21]})

In [13]:
df

      A         B   C
0  John   Masters  27
1  Boby  Graduate  23
2  Mina  Graduate  21

In [14]:
df.pivot(columns='B')

         A                C
B Graduate Masters Graduate Masters
0      NaN    John      NaN    27.0
1     Boby     NaN     23.0     NaN
2     Mina     NaN     21.0     NaN

In [15]:
df.pivot(index ='A', columns ='B', values =['C'])

            C
B    Graduate Masters
A
Boby     23.0     NaN
John      NaN    27.0
Mina     21.0     NaN

In [17]:
dfp = df.pivot(index ='A', columns ='B', values =['C', 'A'])
dfp

            C                A
B    Graduate Masters Graduate Masters
A
Boby       23     NaN     Boby     NaN
John      NaN      27      NaN    John
Mina       21     NaN     Mina     NaN

In [18]:
df1 = pd.DataFrame({'A': ['John', 'John', 'Mina'],
      'B': ['Masters', 'Masters', 'Graduate'],
      'C': [27, 23, 21]})

In [19]:
df1

      A         B   C
0  John   Masters  27
1  John   Masters  23
2  Mina  Graduate  21

In [20]:
#erro coluna A possui registros repetidos 
df1.pivot(index='A',columns= 'B',values= 'C')

ValueError: Index contains duplicate entries, cannot reshape