In [ ]:
#%pip install Sqlalchemy
#%pip install sqlite3
#%pip install cx_Oracle
#%pip install Pyodbc

#conda install Sqlalchemy
#conda install sqlite
#conda install cx_Oracle
#conda install Pyodbc

# sqlite3

In [39]:
import sqlite3
import pandas as pd

sql = "SELECT name FROM sqlite_master WHERE type='table'"

con = sqlite3.connect("./bases/Aula26/Nba_salary.sqlite")
df = pd.read_sql_query(sql,con)
print(df)

con.close()

                    name
0  NBA_season1718_salary
1          Seasons_Stats

In [40]:
import sqlite3
import pandas as pd

con = sqlite3.connect("./bases/Aula26/Nba_salary.sqlite")
df = pd.read_sql_query("SELECT * FROM NBA_season1718_salary",con)
df.head()

    X1          Player   Tm  season17_18
0  1.0   Stephen Curry  GSW   34682550.0
1  2.0    LeBron James  CLE   33285709.0
2  3.0    Paul Millsap  DEN   31269231.0
3  4.0  Gordon Hayward  BOS   29727900.0
4  5.0   Blake Griffin  DET   29512900.0

In [41]:
df.shape

(573, 4)

In [42]:
df.groupby("Tm")["Player"].count()

Tm
ATL    27
BOS    17
BRK    18
CHI    24
CHO    14
CLE    14
DAL    22
DEN    16
DET    20
GSW    16
HOU    22
IND    19
LAC    20
LAL    22
MEM    20
MIA    18
MIL    22
MIN    16
NOP    21
NYK    21
OKC    15
ORL    17
PHI    20
PHO    21
POR    19
SAC    20
SAS    17
TOR    17
UTA    20
WAS    18
Name: Player, dtype: int64

# JSON

In [ ]:
import json

In [ ]:
file_json = open("./bases/Aula26/Exemplo_1.json")
dados = json.load(file_json)
dados

In [ ]:
x = """{
"Name": "Jennifer Smith",
"Contact Number": 7867567898,
"Email": "jen123@gmail.com",
"Hobbies":["Reading","Sketching","Horse Riding"]
}"""

In [ ]:
y = json.loads(x)
y

In [ ]:
pd.read_json("./bases/Aula26/Exemplo_1.json", orient = "column")

In [ ]:
pd.read_json("./bases/Aula26/Exemplo_1.json", orient = "index")

# Requests.get

In [ ]:
import requests
import json
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/bttmly/nba/master/data/teams.json"

In [ ]:
resposta = requests.get(url)
resposta

In [ ]:
resposta.text

In [ ]:
texto = resposta.text
json.loads(texto)

In [ ]:
jsondata = json.loads(texto)
df = pd.DataFrame.from_dict(jsondata)
df.head()